* {
  color: white;
  font-family: Roboto;
}

body {
  background: black;
}

#head {
  background: darkred;
}

#logo {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#logo img {
  width: 90%;
  max-width: 240px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #6D6462;
}

h4#count {
  margin-top: 6%;
}

.col-sm-6 {
  text-align: center;
}
